<nav class="crumbs">
    <ol>
        <li class="crumb"><a href="/protected/index.html">Profile</a></li>
        <li class="crumb"><a href="/oidc/index.html">Login</a></li>
        <li class="crumb"><a href="/centralLogout">Logout</a></li>
        <li class="crumb"><a href="/spog">SPOG</a></li>
        <li class="crumb"><a href="/">Outgoings and Accounts</a></li>
        <li class="crumb"><a href="/myIncomings">Incomings</a></li>
        <li class="crumb"><a href="/myBalances">Balances</a></li>
        <li class="crumb"><a href="/myPlans">Plans</a></li>
        <li class="crumb"><a style="text-decoration: line-through;" href="/myBreadline">Breadline</a></li>
    </ol>
</nav>