@import play.mvc.Http.Request
@import org.pac4j.core.context.session._;
@import helper._
@(
    incomings: Seq[Incoming],
    incomingForm: Form[Incoming],
    editing: Boolean
)(
    implicit
    request: Http.Request,
    playSessionStore: SessionStore,
    messages: play.i18n.Messages
)
@main("MonMonIncomings") {

@partials.header()
@partials.userDetails()
@partials.navbar()

<div class="w3-content w3-center" style="max-width: 1500px">
    <div class="w3-row w3-padding">
        <div class="w3-half">
            <div class="w3-card w3-padding">
                <p><b> These are apparently your incomings:</b></p>

                <ul id="incomings">
                    @for(i <- incomings) {
                    <li>
                        @i.name, (@{i.`type`}), @i.netValue, @i.incomingMonthDay, payday: @i.isPayDay
                        &nbsp;
                        <a href="/editIncoming/@i.id">
                            <i class="fas fa-pen"></i>
                        </a>&nbsp;
                        <a href="/binIncoming/@i.id">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>
                    }
                </ul>
            </div>

        </div>
        <div class="w3-half w3-padding">
            <form method="POST" action='@{
                if (editing)
                    routes.IncomingController.updateIncoming(request.path().split("/")(2).toInt)
                else
                    routes.IncomingController.addIncoming()
            }'>
<!--                Need error handling for all forms-->
                @helper.CSRF.formField
                <input
                        placeholder="Incoming name"
                        type="text"
                        name="name"
                        value='@incomingForm.field("name").value()' />
                <br />
                <input
                        placeholder="type"
                        type="text"
                        name="type"
                        value='@incomingForm.field("type").value()'/>
                <br />
                <input
                        placeholder="how much?"
                        type="number"
                        step="0.01"
                        name="netValue"
                        value='@incomingForm.field("netValue").value()'/>
                <br />
<!--                Ideally these constraints should be on the model-->
                <input
                        placeholder="What day of month?"
                        step="1"
                        min="1"
                        max="31"
                        type="number"
                        name="incomingMonthDay"
                        value='@incomingForm.field("incomingMonthDay").value()'/>
                <br />
<!--                This checkbox SHOULD to be disabled (or even hidden) if we already have a payday incoming -->
<!--                Or should it? What if a month has more than one payday? -->
                @checkbox(incomingForm("payDay"), Symbol("_label") -> "Is this Payday?")
                <br />
                <button>@{ if (editing) "Amend" else "Add"} Incoming</button>
            </form>
        </div>
    </div>
</div>

}