@import play.mvc.Http.Request;
@import org.pac4j.core.context.session._;
@import play.libs.Scala.asScala;
@import helper._
@(
accounts: Seq[Account],
pots: Seq[Pot],
editingPot: Boolean
)(
implicit
request: Http.Request,
playSessionStore: SessionStore,
messages: play.i18n.Messages
)
@main("MonMon Pots") {

@partials.header()
@partials.userDetails()
@partials.navbar()

<div class="w3-content" style="max-width: 1500px">
    <div class="w3-row">
        <div class="w3-half w3-padding">
            <div class="w3-card w3-padding w3-margin">
                Pots:
                <br />
                @for(p <- pots) {
                    @{p.`type`}
                    <a href="/binPot/@p.id">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <br />
                    Created at: @{p.getCreatedAtHumanReadable}
                    <br />
                    @for(a <- p.accounts) {
<!--                        balances(0) here doesn't work because balances is fetched LAZILY-->
<!--                        need to figure out how to retrieve balances through the oneToMany -->
<!--                        relationship (one(Pot)ToMany(accounts)). Setting fetch type to EAGER-->
<!--                        doesn't work...-->
<!--                        The thing below works fine but is apparently considered an anti-pattern-->
<!--                        Try and find some other way...-->
<!--                        https://www.baeldung.com/hibernate-initialize-proxy-exception#2-turning-on-enablelazyloadnotrans-property-->
                        Account name: @{a.name}, bal: £@a.balances(0).getValue
                        <br />
                        @for(o <- a.outgoings) {
                            @o.name
                            <br />
                        }
                    }
                    <hr/>
                }
            </div>
        </div>
        <div class="w3-half w3-padding">
            <div class="w3-card w3-padding w3-margin">
                <form method="POST" action="@routes.PotController.addPot()">
                    @helper.CSRF.formField
                    <label for="type">Pot type: </label>
                    <select id="type" name="type">
                        <option value="MONTHLY">Monthly</option>
                    </select>
                    <br />
                    <label for="accounts">Select one/more accounts for this pot: </label>
                    <select id="accounts" name="accounts" multiple>
                        @for(a <- accounts) {
                        <option
                        value="@a.id">
                        @a.name (@{a.`type`})
                        </option>
                        }
                    </select>
                    <br />
                    <button>Add Pot</button>
                </form>
            </div>
        </div>
    </div>

}