@import play.mvc.Http.Request
@import helper._
@(surplus: Float)(implicit request: Http.Request)
@main("MonMonIncomings") {
<script
        type="text/javascript"
        src='@routes.Assets.at("javascripts/index.js")'
></script>

@partials.header()
@partials.navbar()

<div class="w3-content w3-center" style="max-width: 1500px">
    <div class="w3-row">
        <div class="w3-full">
            <p><b> SPOG stands for 'Single Pane of Glass'</b></p>
            <p>Surplus: £@surplus</p>
            <p>
                // This should show things like: <br/>
                // - MAX amount left per day <br/>
                // - MAX amount left per week <br/>
                // - yearly outgoings <br/>
                // - yearly surplus (how much left to live on) <br/>
                // - rent as % of wages <br/>
                // - desired % of wages as savings (with a 0-100% slider!) <br/>
                // - savings plans and targets (might need an extra set of models/controllers/views) <br/>
                // - balance entry (which will eventually be automated) <br/>
                // - current status compared to the breadline <br/>
                // But, for now, show income - outgoings (i.e. £@surplus) <br/>
            </p>
        </div>
    </div>
</div>

}